<style>
  .modal-header {
    padding: 8px 14px;
}
.input {
     width: 100%;
     height: 25px;
     margin: 4px 0;
     padding: 2px 4px;
     font-size: 12px;
     font-weight: 400;
   }
   .elect-input {
     display: flex; 
     flex-wrap: wrap; 
     margin-left: -15px;
     padding: 4px 0px;
   }
 .bal-border {
   border: 1px solid;
 }
 .td:nth-of-type(odd) {
    background-color: #e3dfdf;
  }
  td {
    background-color: #fff;
  }
  .p-6-8 {
    padding: 6px 8px;
    font-size: 13px;
    color: #000;
  }
  .p-0-10 {
    padding: 0px 10px;
    font-weight: 400;
    color: #000;
    font-size: 14px;
  }
  .card-comment-text {
    border-bottom: 1px solid #3bafda;
  }
</style>
<div class="navber-nav">
  <div class="container">
    <div class="card " style="padding: 0 15px;">
      <div class="disflex card-comment-text">
        <div class="col-md-6" style="margin-left: -16px; padding-top: 6px;">
          <h5>Các Khoản Chi <a style="font-size: 12px;">(Chủ Nhà: <span>
            Nguyễn Văn A -<strong>P.001 / <strong>Tòa A <strong><a href="#">
              +84 123 456 789</a></strong></strong></strong></span></a>)</h5>
        </div>
        <div class="col-md-6" style="text-align: end; margin-right: -18px;">
          <h5>
            <button type="button" aria-controls="table" class="btn btn-sm btn-info btn-primary mr-2" style="padding: 2px 6px; color: #fff;" title="Xuất file excel">
              <i class="fa-solid fa-print"></i> In </button>
            <button type="button" aria-controls="table" class="btn btn-sm btn-secondary btn-primary mr-2" style="padding: 2px 6px; color: #fff;" title="Xuất file excel">
            <i class="fa-regular fa-file-excel"></i> Xuất file excel </button>
          </h5>
        </div>
      </div>
      <div class="elect-input">
        <div class="col-xl-12 col-sm-6 col-md-3" style="">
          <input class="input" list="icon-house-add" id="icon-house" name="icon-house" placeholder="Chọn tòa.."/>
          <datalist id="icon-house-add">
            <option value="Tòa A"></option>
            <option value="Tòa B"></option>
            <option value="Tòa C"></option>
            <option value="Tất Cả"></option>
          </datalist>
        </div>
        <div class="col-xl-12 col-sm-6 col-md-3" style="">
          <input class="input" list="icon-room-add" id="icon-room" name="icon-room" placeholder="Chọn phòng.."/>
          <datalist id="icon-room-add">
            <option value="Phòng 001"></option>
            <option value="Phòng 002"></option>
            <option value="Phòng 003"></option>
          </datalist>
        </div>
        <div class="col-xl-12 col-sm-6 col-md-3" style="">
          <input class="input mr-2" type="text" placeholder="Tìm kiếm..">
        </div>
        <div class=" col-xl-12 col-sm-6 col-md-3" style="margin-top: 4px;">
          <button type="button" data-bs-toggle="modal" data-bs-target="#"
          class="btn btn-sm btn-primary waves-effect waves-light" style="padding: 2px 6px;" title="Sửa thông tin">
          <i class="fa-solid fa-magnifying-glass"></i>
          Tìm Kiếm
          </button>
        </div>
      </div>

      <div class="navbar-nav">
        <table class="table  table-bordered table-inverse table-hover table-responsive"  style="text-align: center;">
          <thead class="thead-inverse" style="width: 100%;">
            <tr>
              <th class="p-6-8" style="width: 200px;">Khoản Chi</th>
              <th class="p-6-8" style="width: 200px;">Số Đầu</th>
              <th class="p-6-8" style="width: 200px;">Số Cuối</th>
              <th class="p-6-8" style="width: 200px;">Số Lượng</th>
              <th class="p-6-8" style="width: 200px;">Đơn Giá(vnd)</th>
              <th class="p-6-8" style="width: 200px;">Thành Tiền</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of hoadon">
              <td class="p-0-10">{{i.khoanchi}}</td>
              <td class="p-0-10">3</td>
              <td class="p-0-10">4</td>
              <td class="p-0-10">4</td>
              <td class="p-0-10">1</td>
              <td class="p-0-10">200 000</td>
            </tr>
            <tr>
              <td colspan="4" class="p-0-10">Tổng</td>
              <td colspan="2" class="p-0-10">3tr2</td>
            </tr>
            <tr>
              <td colspan="4" class="p-0-10">Chưa Thanh Toán</td>
              <td colspan="2" class="p-0-10">0</td>
            </tr>
            <tr>
              <td colspan="4" class="p-0-10">Trả Trước</td>
              <td colspan="2" class="p-0-10">0</td>
            </tr>
            <tr>
              <td colspan="4" class="p-0-10">Nợ Cũ</td>
              <td colspan="2" class="p-0-10">0</td>
            </tr>
            <tr>
              <td colspan="4" class="p-0-10">Tổng Thanh Toán</td>
              <td colspan="2" class="p-0-10">3</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- thêm phiếu chi -->
<div class="modal fade" id="add" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalToggleLabel">Thêm Phiếu Chi</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <dl class="modal-body-display col-md-12">
        <dt class="col-md-3" style="margin-top: 6px;">Tòa Nhà</dt>
        <dd class="col-md-9">
          <input style="width: 100%;" type="text" placeholder=" ...">
        </dd>
      </dl>
      <dl class="modal-body-display col-md-12">
        <dt class="col-md-3" style="margin-top: 6px;">Phòng</dt>
        <dd class="col-md-9">
          <input style="width: 100%;" type="text" placeholder=" ...">
        </dd>
      </dl>
      <dl class="modal-body-display col-md-12">
        <dt class="col-md-3" style="margin-top: 6px;">Chủ Nhà</dt>
        <dd class="col-md-9">
          <input style="width: 100%;" type="text" placeholder=" ...">
        </dd>
      </dl>
      <dl class="modal-body-display col-md-12">
        <dt class="col-md-3" style="margin-top: 6px;">Ngày Chốt</dt>
        <dd class="col-md-9">
          <input type="date" style="width: 100%;" type="text" placeholder=" ...">
        </dd>
      </dl>
      <dl class="modal-body-display col-md-12">
        <dt class="col-md-3" style="margin-top: 6px;">Số Tiền(vnd)</dt>
        <dd class="col-md-9">
          <input style="width: 100%;" type="text" placeholder=" ...">
        </dd>
      </dl>
      <dl class="col-md-12">
       <dt class="col-md-3" style="margin-top: 6px;">Lý Do Chi</dt>
       <dd style="width: 100%;">
         <textarea class="form-control" id="example-textarea" rows="5" placeholder="Thêm ghi chú..."></textarea>
       </dd>
     </dl>
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-secondary p-4-10" data-bs-dismiss="modal" (click)="Delete()">Hủy</button>
        <button type="submit" class="btn btn-info p-4-10" data-bs-dismiss="modal" (click)="Delete()">Lưu</button>
      </div>
    </div>
  </div>
</div>
<!-- sửa phiếu chi -->
<!-- <div class="modal fade" id="edit" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title" id="exampleModalToggleLabel">Sửa Phiếu Chi</h4>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <dl class="modal-body-display col-md-12">
      <dt class="col-md-3" style="margin-top: 6px;">Tòa Nhà</dt>
      <dd class="col-md-9">
        <input style="width: 100%;" type="text" placeholder=" ...">
      </dd>
    </dl>
    <dl class="modal-body-display col-md-12">
      <dt class="col-md-3" style="margin-top: 6px;">Phòng</dt>
      <dd class="col-md-9">
        <input style="width: 100%;" type="text" placeholder=" ...">
      </dd>
    </dl>
    <dl class="modal-body-display col-md-12">
      <dt class="col-md-3" style="margin-top: 6px;">Chủ Nhà</dt>
      <dd class="col-md-9">
        <input style="width: 100%;" type="text" placeholder=" ...">
      </dd>
    </dl>
     <dl class="modal-body-display col-md-12">
       <dt class="col-md-3" style="margin-top: 6px;">Ngày Chốt</dt>
       <dd class="col-md-9">
         <input style="width: 100%;" type="date" placeholder=" ...">
       </dd>
     </dl>
     <dl class="modal-body-display col-md-12">
       <dt class="col-md-3" style="margin-top: 6px;">Số Tiền(vnd)</dt>
       <dd class="col-md-9">
         <input style="width: 100%;" type="text" placeholder=" ...">
       </dd>
     </dl>
     <dl class="col-md-12">
      <dt class="col-md-3" style="margin-top: 6px;">Ghi Chú</dt>
      <dd style="width: 100%;">
        <textarea class="form-control" id="example-textarea" rows="5" placeholder="Thêm ghi chú..."></textarea>
      </dd>
    </dl>
     <div class="modal-footer p-0">
       <button type="button" class="btn btn-secondary p-4-10" data-bs-dismiss="modal" (click)="Delete()">Hủy</button>
       <button type="submit" class="btn btn-info p-4-10" data-bs-dismiss="modal" (click)="Delete()">Lưu</button>
     </div>
   </div>
 </div>
</div> -->
<!-- xóa -->
<!-- <div class="modal fade" id="Delete" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
 <div class="modal-dialog modal-dialog-centered">
   <div class="modal-content">
     <div class="modal-header">
       <h4 class="modal-title" id="exampleModalToggleLabel">Cảnh báo</h4>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body">Bạn có chắc chắn muốn xóa Thông tin?</div>
     <div class="modal-footer p-0">
       <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
         data-bs-dismiss="modal" (click)="Delete()">
         Xóa 
       </button>
     </div>
   </div>
 </div>
</div> -->